<!--
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
-->
<div class="jumbotron">
	<div class="container">
		<h1>Titulo</h1>
		<p></p>

	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">

			<h1>Titulo</h1>
			<p class=""> ddd 	</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
			<i class="fas fa-user fa-5x circle-this"></i>
			<h1>Mision</h1>
			<p>col 4 ñdjgfñdlkgj flkgj lkfjglsj gflkkj gfljgljlfj glfkjgjs dgflkjldks jgljhfkgjfghlf djhglfhghflgh</p> 
			<a href="" class="btn btn-primary btn-xl js-scroll-trigger">BOTON</a>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
				<i class="far fa-user fa-5x"></i>
				<h1>Vision</h1>
			<p>col 4 ñkgñlfkg lkfdlgksl fkdlgkfdlgkjkl  fjgljflggklfdj sglkjfgfgkl fdjkgjfkgjkjdgkljf</p>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
				 <i class="fab fa-github-square fa-5x"></i>	
				<h1>Objetivo</h1>
			<p>col 4 ṕelṕrlr pekrñksñlkglñkñf lkgñlkflgñks ñlgklñfkgñlksñkgñldskgñ lfdkgñlfkgñlfkgñlkñlgk</p>
		</div>
	</div>
	
</div>
