<h1>Product#add</h1>
<p>Find me in app/views/product/add.html.erb</p>
<div class="container">
	<div class="row">
		
		 <div class="col-md-3">
		<label for="name">Nombre</label>		
		</div>	
		 <div class="col-md-3">
		<input type="text" name="name">
		</div>	
	</div>

	<div class="row">
		 <div class="col-md-3">
		<label for="name">Descripcion</label>
		</div>	
		 <div class="col-md-3">
		<input type="textarea" name="note">
		</div>	
	</div>

	<div class="row">
		 <div class="col-md-3">
		<label for="name">Imagen</label>
		</div>	
		 <div class="col-md-3">
		<input type="file" name="file">
		</div>	
	</div>
		<div class="row">
		 <div class="col-md-3">
		<input class="btn btn-success" type="submit" name="add" value="Agregar">
		
		</div>	
		 <div class="col-md-3">

		</div>	
	</div>



</div>

