// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
h1 {
	color:red;
	font-family: 'Roboto', sans-serif;
}

li {
 color: white ;
}

.lista {
 background-color: rebeccapurple;
}




* {

	border: 1px solid red; 

}
*/

* {
	font-family: 'Oswald', sans-serif;
}

.circle-this {
	border-radius: 50%;
	background-color: red;
	
}